.home{
    margin: auto;
    padding: 0 100px 10px 100px;
    display: flex;
    justify-content:center;
    gap: 40px;
}

form{
    margin-bottom: 10px;
}

.api-inputs{
    width: 40%;
    transition: all 2s ease-in;
}
.api-inputs h2{
    font-family: var(--secondary-font);
    font-weight: 500;
}

.api-inputs-note{
    background-color: var(--secondary-color);
    padding: 1.5rem;
    border-radius: 5px;
    flex-direction: column;
    margin: 0;
}

.api-inputs-note a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.api-inputs-note a:hover{
    color: white;
}

.api-inputs-note h1, p{
    margin: 0;
}

.api-inputs  div{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.get{
    color: green;
}
.post{
    color: blue;
}
.delete{
    color: red;
    text-transform: uppercase;
}
.put{
    color: orange;
    text-transform: uppercase;
}
.urls{
    text-overflow: ellipsis;
    overflow: hidden;
}
.btn{
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--primary-color) ;
    color: var(--secondary-text-color);
    font-size: small;
    cursor: pointer;
}

.documentationSection{
    flex-grow: 0.8;
    width: 50%;
    box-shadow: 0px 0px 6px 2px #cdc9c244;
    border-radius: 5px;
}

.title{
    color: var(--main-color);
}
.fieldsUl > ul{
    padding: 0;
}
.css-19kzrtu{
    padding: 0;
}

.endPoints div{
    display: flex;
    gap: 10px;
}

.endPoints div{
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.endPoints div h4{
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    width: 70px;
}

.fields-section ul li, .response-list ul li{
    list-style: none;
}

.css-j204z7-MuiFormControlLabel-root{
    flex-direction: row-reverse;
    margin: 0;
    margin-left: 0 !important; 
    margin-right: 0 !important;
}
.css-1a4cg4j-MuiButtonBase-root-MuiTab-root{
    color: var(--text-color) !important;
}
.response-container{
    margin-bottom: 30px;
}
.response-list{
    margin-top: 1rem;
    background-color: rgba(156, 156, 156, 0.194);
    padding: 2rem;
    border-radius: 20px;
    list-style: none;
}

.response-list ul li{
    overflow-x:overlay;
}

.fields{
    padding-left: 40px;
}

.print-document{
    padding: 40px;
    color: black;
}

/*TABLE*/
thead tr th{
    font-weight: bold !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root{
    box-shadow: 0px 0px 1px 0px !important;
    margin-top: 20px !important;
}

/*PRINT SECTION*/

.print-document .response-list{
    color: var(--text-color);
}

/*WEOLCOME SECTION*/
.welcomeSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*ERROR*/
.errorSection{
    margin: auto;
}
.errorSection > div{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.errorSection h1{
    text-transform: uppercase;
    font-size: xx-large;
}
.error__icon{
    font-size:  10rem !important;
}

/*RESPONSIVE*/

@media screen and (max-width: 1230px){
    .home{
        flex-wrap: wrap;
    }

    .api-inputs, .documentationSection{
        width: 100%;

    }
    .documentationSection{
        flex-grow: 0;
    }
}

@media screen and (max-width:730px){
    .home{
        padding: 0px 60px 60px 60px;
    }
    
}

@media (min-width: 600px){
    .css-cuefkz-MuiContainer-root {
        margin: 0;
    }
}

@media screen and (max-width: 480px){
    header{
        padding: 0px 40px 40px 40px;
    }
}