.url-inputs h3{
    padding: 10px;
    outline: 3px solid var(--secondary-color);
    border-radius: 5px;
    width: 100px;
    margin: 0;
}
.url-inputs input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.path-input > div{
    flex-grow: 1 !important;
    margin: 0% !important;
}

.tooltip{
    padding: 0 !important;
}

@media screen and (max-width: 600px){
    .url-inputs h3{
        max-width: 6ch;
        font-size: medium;
    }
}