:root {
  --back-color: white;
  --main-color: #5847AD;
  --primary-color: #FC9918;
  --secondary-color: #F14A16;
  --text-color: black;
  --secondary-text-color: white;
  --secondary-font: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
  margin: 0;
  background-color: var(--back-color) ;
  color: var(--text-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}