:root {
  --back-color: #FBF6EE;
  --main-color: #FFB534;
  --primary-color: #9290C3;
  --secondary-color: #65B741;
  --text-color: black;
  --secondary-text-color: white;

}

body{
  margin: 0;
  background-color: var(--back-color) ;
  color: var(--text-color);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}